tokenized_train/
tokenized_val/
checkpoint-*/
**/checkpoint-*/
*.pt
*.bin
*.pth
*.safetensors
trainer_state.json
training_args.bin
*.log
*.ipynb_checkpoints
__pycache__/

# ignore whole model dir...
gpt2-recipes/*

# ...except HF small files we actually need
!gpt2-recipes/config.json
!gpt2-recipes/generation_config.json
!gpt2-recipes/tokenizer.json
!gpt2-recipes/tokenizer_config.json
!gpt2-recipes/merges.txt
!gpt2-recipes/vocab.json
!gpt2-recipes/special_tokens_map.json
